
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--back mark-->
    <p class="navbar-text pull-left">
      <a [routerLink]="['/user/',userId,'website',webId,'page']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>New Page</b>
      </a>
    </p>

    <!--plus mark-->
    <p class="navbar-text pull-right">
      <a (click)="createPage()" class="navbar-link">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>

  </div>
</nav>

<div class="body container-fluid">

  <div class="form-group">
    <label for="inputName">Name</label>
    <input [(ngModel)]='name' required
      type="text" class="form-control" id="inputName" placeholder="Page Name">
  </div>

  <div class="form-group">
    <label for="pageTitle">Title</label>
    <input [(ngModel)]='desc'
      type="text" class="form-control" id="pageTitle" placeholder="Page Title">
  </div>

</div>



<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user/',userId]">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
