
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!--back mark-->
    <p class="navbar-text pull-left">
      <a [routerLink]="['/user/',userId,'website',webId,'page',pageId,'widget','new']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Widget Edit</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a (click)="createWidget()"
        [routerLink]="['/user/',userId,'website',webId,'page',pageId,'widget']" class="navbar-link">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>

  </div>
</nav>


<div class="body container-fluid">
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text" class="form-control" id="name" placeholder="name">
    </div>

    <div class="form-group">
      <label for="text">Text</label>
      <input  [(ngModel)]='text' name="text"
        type="text" class="form-control" id="text" placeholder="US Senate Reaches Compromise On Emergency">
    </div>

    <div class="form-group">
      <label for="url">Size</label>
      <input  [(ngModel)]='size' name="size"
        type="text" class="form-control" id="url" placeholder="3">
    </div>

    <a class="btn btn-danger btn-block "
       (click)="deleteWidget()"
       [routerLink]="['/user/',userId,'website',webId,'page',pageId,'widget']" >Delete</a>

  </form>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user/',userId]">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
