<!-- Navigation Bar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--back mark-->
    <p class="navbar-text pull-left">
      <a href="widget-list.html" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Choose Widget</b>
      </a>
    </p>


  </div>
</nav>

<!-- Main content of the body-->

<div class="body container-fluid">
  <ul class="list-group">
    <li class="list-group-item"><a href="widget-heading.html"><b>Header</b></a> </li>
    <li class="list-group-item"><a href="widget-image.html"><b>Image</b></a> </li>
    <li class="list-group-item"><a href="widget-youtube.html"><b>YouTube</b></a> </li>
  </ul>
</div>


<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="../user/profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
